.whats-app {
    position: fixed;
    width: 200px;
    height: 60px;
    bottom: 10px;
    /* background-color: #25d366; */
    /* color: #FFF; */
    border-radius: 50px;
    text-align: center;
    /* font-size: 30px; */
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
    right: 15px;
}

.my-float {
    margin-top: 16px;
}

.img-wa {
    width: 100%;
}

.brand-logo-images {
    width: 40% !important;
}